tgcrypto 
psutil
opencv-python-headless
python-dotenv
requests
speedtest-cli
Flask
aiofiles
pyrofork
pyrogram==1.4.16
tgcrypto==1.2.5
#https://github.com/DrWix007/pyrogram/archive/refs/heads/master.zip
pymongo
telegraph
cloudinary
gunicorn==20.1.0
