pyromod==3.1.1
psutil
opencv-python-headless
python-dotenv
requests
speedtest-cli
aiofiles
pyrofork
#https://github.com/DrWix007/pyrogram/archive/refs/heads/master.zip
pymongo
telegraph
cloudinary
pyrogram==2.0.106
tgcrypto==1.2.5
flask==2.3.3
gunicorn==21.2.0
